<div class="navigation">我的应用 > 基本信息 > 班级学生所属关系维护</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>所属学校：</label>
        <select class="width140" ng-model="xxNum" ng-change="changeXx();" ng-options="m.code as m.name for m in xx"></select>
    </div>
    <div class="left">
        <label>学年：</label>
        <select class="width140" ng-model="xnNum" ng-change="changeXn();" ng-options="m.code as m.name for m in xn"></select>
    </div>

    <div class="left">
        <label>年级：</label>
        <select class="width140" ng-model="njNum" ng-change="changeNj();" ng-options="m.code as m.name for m in nj"></select>
    </div>

    <div class="left">
        <label>班级：</label>
        <select class="width140" ng-model="bjNum" ng-options="m.code as m.name for m in bj"></select>
    </div>

    <div class="left">
        <button class="btnGreen ml65" ng-click="seachXs();">查询</button>
    </div>
</div>

<div class="classDown">
    <div class="mb">下载模板：<a href="/cmsapi/downloadfile/student.xlsx">学生信息导入模板</a></div>
    <div ng-show="errorXsl" class="mb">错误信息：<a href="/file{{errorUrl}}">查看错误详情</a></div>
    <div>
        上传数据：
        <input type="file" id="fileLoad">
        <!--<button class="btnGreen ml65">选择文件</button>-->
        选择年级:<select class="width140" ng-model="njbh" ng-options="m.code as m.name for m in NIANJI"></select>
        <button class="btnGreen ml65" ng-click="uploadFile();">批量导入</button>
        <a class="{{btnCls}}" ng-disabled="isDisabled" ng-href="{{isDisabled?'':downLink}}">下载(Excel格式)</a>
    </div>
</div>

<div class="grayLine"></div>

<!--<div class="mt10 tr">-->
<!--<button class="nextBtn">上一页</button>-->
<!--<button class="nextBtn">下一页</button>-->
<!--</div>-->

<table class="tableBox" border="1">
    <thead>
        <tr>
            <th>编号</th>
            <th>工号</th>
            <th>姓名</th>
            <th>年级</th>
            <th>班级</th>
            <th>备注</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in uList">
        <td>{{item.lineid}}</td>
        <td>{{item.gh}}</td>
        <td>{{item.xm}}</td>
        <td>{{item.njmc}}</td>
        <td>{{item.bjmc}}</td>
        <td>{{item.bz}}</td>
        <td>{{item.showTime}}</td>
        <td>
            <button ng-click="updateNjItem(item)">更新年级</button>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>


