<div class="navigation">我的应用 > 人员管理</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>人员类型：</label>
        <select class="width220" ng-model="userTypeNum" ng-options="m.code as m.name for m in userTypes"></select>
    </div>

    <div class="left">
        <label>录入时间：</label>
        <input type="date" class="width150" ng-model="beginDate"/>
        <span> 到 </span>
        <input type="date" class="width150" ng-model="endDate"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>人员名称：</label>
        <input type="text" placeholder="请输入人员名称" class="width200" ng-model="uName"/>
    </div>

    <div class="left" style="margin-left: 24px">
        <label>讲师：</label>
        <select class="width220" ng-model="teacherNum" ng-options="m.code as m.name for m in teachers"></select>
    </div>
</div>

<div class="mt10">
    <button class="btnGreen ml65" ng-click="userListSearch();">查询</button>
    <button class="btnGreen" ng-click="goAdd();">新建人员信息</button>
</div>

<div class="grayLine"></div>

<!--<div class="mt10 tr">-->
    <!--<button class="nextBtn">上一页</button>-->
    <!--<button class="nextBtn">下一页</button>-->
<!--</div>-->

<table class="tableBox" border="1">
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>人员类型</th>
        <th>岗位</th>
        <th>性别</th>
        <!--<th>备注</th>-->
        <th>创建时间</th>
        <th>功能操作</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in userList">
        <td>{{item.studentId}}</td>
        <td><a style="text-decoration: underline;" ng-click="goDetail(item);">{{item.name}}</a></td>
        <td>{{item.typeName}}</td>
        <td>{{item.postName}}</td>
        <td>{{item.sexName}}</td>
        <!--<td></td>-->
        <td>{{item.showCreateTime}}</td>
        <td>
            <button ng-click="editUser(item);">修改</button>
            <button ng-click="deleteUser(item);">删除</button>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>

